@font-face {
  font-family: 'Silka';
  src: url('../../Fonts/Silka-Regular.otf');
}

* {
  font-family: 'Silka';
  font-weight: bold;
}

.MuiTableContainer-root {
  width: 80% !important;
  margin: 0 auto;
}
